@media screen and  (max-width: 480px) {
    body{
        background: #c2c2ea;
        width: 480px;
    }
    button{
        padding: 0;
        width: 50px;
        height: 40px;
        font-size: 14px;
    }
    input,#pairList{
        font-size: 20px;
        width: 220px;
    }
    section{
        width: 400px;
    }

}