*{
    padding: 0;
    margin: 0;

}
body{
    background: lightblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    width: 640px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 5px 5px 0 dimgrey;
}

#inputDiv{
    margin-bottom: 20px;
}
#inputDiv,#outputDiv p{
    line-height: 1.3;
}
input{
    width: 350px;
}
#outputDiv>div,#inputDiv>div{
    display: flex;
    gap:30px;
}

button{
    padding: 4px;
}
#buttons button{
    display: block;
    margin-bottom: 20px;
}
#pairList{
    width: 350px;
    height: 300px;
    border: 1px dimgray solid;
    overflow: scroll;
}
.selected{
    background: yellow;
}
p{
    opacity: 0.6;
}
