@media screen and (min-width: 481px) and (max-width: 768px) {
    body{
        width: 768px;
        background: #9999db;
    }
    button{
        width: 50px;
        height: 40px;
        font-size: 14px;
    }
    input,#pairList{
        font-size: 20px;
    }
}